<!DOCTYPE html>
<html lang="en, es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <h1>TeleCORUS</h1>
    <div id="root">
        <div id="container" class="container">
            <div id="local" class="participant">
                <div></div>
                <div class="name">@Usuario</div>
            </div>
            <div id="login_form">
                <form>
                    <h3>Preparado para unirte?</h3>
                    <p id="count">Esperando a los participantes </p>
                    <label for="username">Ingresa tu nombre</label>
                    <input type="text" name=”username” id="username">
                    <button id="join_leave">Unirse ahora</button>
                    <button id="share_screen" disabled>Share screen</button>
                    <button id="toggle_chat" disabled>Toggle chat</button>
                </form>
            </div>

            <!-- more participants will be added dynamically here -->
        </div>
        <div id="chat">
            <div id="chat-scroll">
                <div id="chat-content">
                    <!-- chat content will be added dynamically here -->
                </div>
            </div>
            <input id="chat-input" type="text">
        </div>
    </div>
    <footer>
        <p>Desarrollado con ❤️ por Telectronic</p>
    </footer>
    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/conversations/releases/1.0.0/twilio-conversations.min.js"></script>
    <script src="../static/app.js"></script>
</body>

</html>